@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // <link rel="stylesheet" href="https:www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="~/css/DonateOperation/Index.css">
    <link rel="stylesheet" href="~/css/DonateOperation/w3.css">
    //此為自行下載後的.css (w3css/5/w3.css)
}
@model DonationViewModel ;

<div>目前狀態</div>
<div style="font-size:30px;background-color:darksalmon">戶號: <span style="font-weight:bold;">@Model.DonateQuery.FirstOrDefault()?.HouseID</span></div>

<form id="donation_submit">
    <table class="w3-table-all w3-xlarge fixed-table">
        <colgroup>
            <col style="width: 10%;">
            <col style="width: 10%;">
            <col style="width: 10%;">
            <col style="width: 15%;">
            <col style="width: 10%;">
            <col style="width: 10%;">
            <col style="width: 15%;">
            <col style="width: 15%;">
        </colgroup>


        <tr>
            <th>安斗</th>
            <th>個人編號</th>
            <th>姓名</th>
            @foreach (var item in Model.DonateType.GroupBy(x => x.Prototype).Where(x => x.Key != 1))
            {
                <th>@item.FirstOrDefault()?.Prototype_name</th>
            }
            <th>總捐獻(價格)</th>
            <th>備註</th>
        </tr>

        @{
            var count = 0; // 拿來算每行加總
            var index = 0; // 拿來算DonateType
        }


        <!-- 戶捐獻 -->
        <tr>
            <td colspan="2" style="font-size:20px;background-color:cornflowerblue">捐獻(戶)</td>
        </tr>
        @foreach (var member in Model.DonateQuery.Take(1))
        {
            <tr>
                <td>
                    <!-- 用 DonationItem 來post -->
                    <select name="DonationSubmit[@index].DonateTypeId" data-index="@count" class="category_dipper">
                        <option value="999" class="price_ajax" data-dipper="0" data-value="0">無</option>

                        @foreach (var item in Model.DonateType.Where(x => x.ID <= 2))
                        {
                            @if (member.Donate_item.Any(x => x.DonateTypeId == item.ID))
                            {
                                <option value="@item.ID" class="price_ajax" data-dipper="@item.Name_chinese" data-value="@item.Price" selected>
                                    @item.Name_chinese
                                </option>
                            }
                            else
                            {
                                <option value="@item.ID" class="price_ajax" data-dipper="@item.Name_chinese" data-value="@item.Price">
                                    @item.Name_chinese
                                </option>
                            }

                        }

                    </select>


                    <!-- 為了給出DonateTypeId -->
                    <input type="hidden" name="DonationSubmit[@index].HouseId" value="@member.HouseID" />
                    @{
                        index++;
                    }



                </td>

                <td>
                    <div></div>
                </td>

                <td>
                    <div></div>
                </td>



                <!-- 戶捐獻: category -->
                @foreach (var type in Model.DonateType.GroupBy(g => g.Prototype).Where(x => x.Key != 1))
                {
                    @if (type.FirstOrDefault()?.Category == 1)
                    {
                        <td>
                            <!-- 需要安斗項目 卻沒有安斗 -->
                            @if (!member.Is_dipper && type.First().NeedDipper)
                            {

                                @* <div>@type.First().Prototype_name</div> *@
                                <select name="DonationSubmit[@index].DonateTypeId" data-index="@count" class="category">
                                    <option value="999" class="price_ajax" data-value="0">無</option>

                                </select>

                                <div style="color:red;"> 需安斗 </div>
                            }
                            else
                            {
                                @* <div>@type.First().Prototype_name</div> *@
                                <select name="DonationSubmit[@index].DonateTypeId" data-index="@count" class="category">
                                    <option value="999" class="price_ajax" data-value="0">無</option>
                                    @foreach (var item in type)
                                    {
                                        @if (member.Donate_item.Any(x => x.DonateTypeId == item.ID))
                                        {
                                            <option value="@item.ID" class="price_ajax" data-value="@item.Price" selected>
                                                @item.Price
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@item.ID" class="price_ajax" data-value="@item.Price">
                                                @item.Price
                                            </option>
                                        }
                                    }

                                </select>
                            }


                            <!-- 為了給出MID -->
                            <!-- 想一下怎麼對應到正確的MID -->
                            <input type="hidden" name="DonationSubmit[@index].HouseId" value="@member.HouseID" />
                            @{
                                index++;
                            }


                        </td>
                    }
                    else
                    {
                        <td></td>
                    }


                }



                <td>
                    <div class="total_price_@count">@(member.Donate_item.Where(x => x.Category == 1).Sum(x => x.SelectedPrice))</div>
                    @if (member.Is_dipper)
                    {
                        <div class="dipper_price_ajax">(@member.Donate_item.Where(x => x.DonateTypeId <= 2).FirstOrDefault()?.Name_chinese :@member.Donate_item.Where(x => x.DonateTypeId <= 2).FirstOrDefault()?.SelectedPrice)</div>
                    }
                    else
                    {
                        <div class="dipper_price_ajax" style="color:red;">無安斗</div>
                    }

                </td>
                <td>
                    <textarea class="cell-edit-textarea">@member.Note</textarea>
                </td>



            </tr>
            count++; //為了即時更新total price用 (每一行更新)
        }


        <!-- 個人捐獻 -->
        <tr>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td colspan="2" style="font-size:20px;background-color:lightblue">捐獻(個人)</td>
        </tr>
        @foreach (var member in Model.DonateQuery)
        {
            <tr>
                <td>
                </td>
                <td>
                    <div>@member.Member_number</div>
                </td>
                <td>
                    <div>@member.Name</div>
                    @if (member.Is_head == true)
                    {
                        <div style="background-color:aquamarine">戶長</div>
                    }
                </td>



                <!-- .GroupBy(g=>g.prototype) 是iterate順序 -->
                @foreach (var type in Model.DonateType.GroupBy(g => g.Prototype).Where(x => x.Key != 1))
                {
                    @if (type.FirstOrDefault()?.Category == 2)
                    {
                        <td>
                            <!-- 需要安斗項目 卻沒有安斗 -->
                            @if (!member.Is_dipper && type.First().NeedDipper)
                            {
                                @* <div>@type.First().Prototype_name</div> *@
                                <select name="DonationSubmit[@index].DonateTypeId" data-index="@count" class="category">
                                    <option value="0" class="price_ajax" data-value="0">無</option>

                                </select>

                                <div style="color:red;"> 需安斗 </div>
                            }
                            else
                            {
                                @* <div>@type.First().Prototype_name</div> *@
                                <select name="DonationSubmit[@index].DonateTypeId" data-index="@count" class="category">
                                    <option value="0" class="price_ajax" data-value="0">無</option>
                                    @foreach (var item in type)
                                    {
                                        @if (member.Donate_item.Any(x => x.DonateTypeId == item.ID))
                                        {
                                            <option value="@item.ID" class="price_ajax" data-value="@item.Price" selected>
                                                @item.Price
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@item.ID" class="price_ajax" data-value="@item.Price">
                                                @item.Price
                                            </option>
                                        }
                                    }

                                </select>
                            }


                            <!-- 為了給出DonateTypeId -->
                            <input type="hidden" name="DonationSubmit[@index].MID" value="@member.MID" />
                            @{
                                index++;
                            }

                        </td>
                    }
                    else
                    {
                        <td></td>
                    }


                }


                <td>
                    <div class="total_price_@count">@(member.Donate_item.Where(x => x.DonateTypeId > 2 && x.Category == 2).Sum(x => x.SelectedPrice))</div>
                </td>

                <td>
                    <textarea class="cell-edit-textarea">@member.Note</textarea>
                </td>

            </tr>
            count++; //為了即時更新total price用
        }
    </table>

</form>

<br />
<br />
<br />
<br />


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<!-- 即時更新總價格-->
<script>
    $(document).on('change', '.category', function () {

        let index = $(this).data('index');

        let total = 0;

        // ⭐ 只抓同一列
        $(`select[data-index="${index}"]`).each(function () {
            let selectedOption = $(this).find('option:selected');
            let val = parseInt(selectedOption.data('value')) || 0;

            total += val;
        });
        $(`.total_price_${index}`).text(total);


    });
</script>

<!-- 即時更新大小斗 -->
<script>
    $(document).on('change', '.category_dipper', function () {

        let index = $(this).data('index');
        let selected = $(this).find('option:selected');

        // 抓 price
        let selectedOption = $(this).find('option:selected');
        let price = parseInt(selectedOption.data('value')) || 0;

        let html = ``;

        // 抓 安斗名稱
        let dipper = selected.data('dipper');

        html = `${dipper} :${price}`;



        let formData = $('#donation_submit').serialize();

        $.ajax({
            type: "POST",
            url: "/DonateOperation/Change_Dipper_selectOption",
            data: formData,

            success: function (result) {

                $('#Change_to_Donation_create').html(result);

            },
            error: function (xhr, status, error) {
                alert("發生錯誤：" + error);
            }
        });

    });
</script>

<!-- 送出Donation 選項 -->
<script>
    $(document).on('click', '#donation_submit_btn', function () {

        let formData = $('#donation_submit').serialize();

        alert(`${formData}`);

        $.ajax({
            type: "POST",
            url: "/DonateOperation/Donation_Submit",
            data: formData,


        });
    });
</script>
