﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css"> *@
@model List<List<DonateType>>

<link rel="stylesheet" href="~/css/DonateType/Index.css">
<link rel="stylesheet" href="~/css/DonateType/w3.css">
<body>

    <div class="w3-container my-table">
        <h2>捐獻類別管理</h2>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="DonationTypeButton" data-bs-toggle="dropdown" aria-expanded="false">
            全部
        </button>
        <ul class="dropdown-menu" aria-labelledby="DonationTypeButton">
            <li><button class="dropdown-item" id="individual_search">個人(為單位)</button></li>
            <li><button class="dropdown-item" id="household_search">戶(為單位)</button></li>
            <li><button class="dropdown-item" id="all_search">全部</button></li>

        </ul>


        <span id="btn_1">
            <button class="button-24" id="save_button" role="button" style="display:none"> 確定儲存</button>
        </span>
        <span id="btn_2">
            <button class="button-25" id="modify_button" role="button"> 修改</button>
        </span>

        <form id="modify_type" method="POST">
            <table class="w3-table-all w3-xlarge fixed-table">
                <colgroup>
                    <col style="width: 15%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 30%;">
                </colgroup>

                <tr>
                    <th>類別</th>
                    <th>是否需安斗</th>
                    <th>種類</th>
                    <th>選項</th>
                    <th>價格</th>
                    <th>備註</th>
                </tr>


                <tbody id="search_change">
                    @{
                        var count = 0; //拿來全局使用
                    }
                    @foreach (var infos in Model)
                    {
                        <tr>
                            <th>@infos.First().Prototype_name</th>
                            <td>
                                @if (infos.First().NeedDipper || infos.First().ID <= 2)
                                {
                                    <input checked="" class="check_dipper" type="checkbox"  disabled>
                                }
                                else
                                {
                                    <input checked="" class="no_check_dipper"  type="checkbox" disabled>
                                }

                            </td>
                            <td>@infos.First().Category_name</td>
                        </tr>

                        @foreach (var info in infos)
                        {
                            <tr data-id="@info.ID">
                                <td>
                                    <input type="text" class="cell-edit-input" name="donateTypes[@count].Prototype" maxlength="10" value="@info.Prototype" hidden>
                                </td>
                                <td></td>
                                <td></td>

                                <td>
                                    <input type="text" class="cell-edit-input" name="donateTypes[@count].Name_chinese" maxlength="10" value="@info.Name_chinese" disabled>
                                </td>
                                <td>
                                    <input type="text" class="cell-edit-input" name="donateTypes[@count].Price" maxlength="10" value="@info.Price" disabled>
                                </td>
                                <td>
                                    <textarea class="cell-edit-textarea" name="donateTypes[@count].Note" disabled>@info.Note</textarea>
                                </td>
                            </tr>
                            count++;
                        }
                    }
                    @{

                    }

                </tbody>
                <tbody id="add_type_tr">
                </tbody>
            </table>
        </form>

    </div>
    <br />
    <br />
    <br />
    <!-- HTML !-->
    <span id="btn_3">
        <button class="button-4" role="button" id="Add_type" style="display:none"> 新增類別</button>
        <button class="button-4" role="button" id="Add_option" style="display:none"> 新增選項</button>
    </span>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <script src="~/js/ChangeHousehold/jquery-3.3.1.min.js"></script>

    <!--新增type button-->
    <script>
        let counter = 9999;
        $(document).on('click', '#Add_type', function () {

            let html = "";

            html += `

               <tr>
                    <th>
                        <button class="keycap delete_button" data-id="${count}" type="button"><aside class="letter">刪除</aside></button>
                        <input type="text" class="cell-edit-input" name="donateTypes[${count}].Prototype_name"  >
                    </th>
                    <td><input checked class="check_dipper" type="checkbox"></td>
                    <td><input type="text" class="cell-edit-input" name="donateTypes[${count}].Category_name" ></td>
                </tr>
            `
            $('#add_type_tr').append(html);
            counter++;
            count++;
        });
    </script>

    <!--修改type button-->
    <script>
        $(document).on('click', '#modify_button', function () {



            $.ajax({
                type: "POST",
                url: "/DonateType/Modify_page",



                success: function (result) {
                    if (result.success) {
                        // alert(result.message);

                        let html = "";
                        count = 0;

                        const groups = Object.groupBy(result.infos, x => x.prototype_name);

                        Object.values(groups).forEach(function (infos) {

                            // 群組第一筆
                            let first = infos[0];

                            let dipperHtml = '';
                            let deleteBtn = '';
                            let category_name_dipper_show = '';
                            let category_name_dipper_value = '';

                            const buildHidden = (name, count, value) =>
                                `<input class="category-hidden" name="${name}[${count}].Category" value="${value}" hidden>`;

                            if (first.needDipper) {
                                dipperHtml =
                                    `<input checked class="check_dipper" type="checkbox">`;

                                deleteBtn =
                                    `<button class="keycap delete_button" data-id="${count}" type="button">
                                            <aside class="letter">刪除</aside>
                                        </button>`;
                            }
                            else {
                                dipperHtml =
                                    `<input class="check_dipper" type="checkbox">`;

                                deleteBtn =
                                    `<button class="keycap delete_button" data-id="${count}" type="button">
                                            <aside class="letter">刪除</aside>
                                        </button>`;
                            }

                            
                            if (first.category_name == "戶"){
                                category_name_dipper_show = `
                                        <select class="category-select">
                                            <option value="1" selected>戶</option>
                                            <option value="2">個人</option>
                                        </select>`;

                            }else{
                                category_name_dipper_show = `
                                        <select class="category-select">
                                            <option value="1">戶</option>
                                            <option value="2" selected>個人</option>
                                        </select>`;

                            }

                            if (first.id <= 2) {
                                dipperHtml =
                                    `<input checked class="check_dipper" type="checkbox" disabled>
                                    <input checked class="check_dipper" type="checkbox" hidden>`;

                                deleteBtn = '';
                                category_name_dipper_show = `
                                        <input value="戶" disabled>`;
                                

                            }



                            // ===== 群組標題列 =====
                            html += `
                                <tr>
                                    <th>${first.prototype_name}</th>

                                    <td>
                                        ${dipperHtml}
                                    </td>

                                    <td>
                                        
                                        ${category_name_dipper_show}
  
                                    </td>
                                </tr>
                            `;
                            
                            infos.forEach(function (info) {
                                    
                                html += `

                                <tr data-id="${info.id}">


                                    <td>
                                        <div class="td-flex">

                                            <input name="donateTypes[${count}].ID"
                                                   value="${info.id}"
                                                   hidden>

                                            ${deleteBtn}

                                        </div>
                                    </td>
                                    <td></td>
                                    <td>
                                        ${buildHidden('donateTypes',count,first.category_name == "戶" ? 1 : 2)}
                                    </td>
                                    <td>
                                        <input type="text" class="cell-edit-input" name="donateTypes[${count}].Name_chinese"  value="${info.name_chinese}" required>
                                    </td>
                                    <td>
                                        <input type="text" class="cell-edit-input" name="donateTypes[${count}].Price"  value="${info.price}" required>
                                    </td>
                                    <td>
                                        <input type="text" class="cell-edit-input" name="donateTypes[${count}].Note" value="${info.note}">
                                    </td>
                                </tr>
                                `;
                                count++;
                            });
      

                        });

                        $('#search_change').html(html);


                        let html_save = "";
                        let html_modify = "";
                        let html_add = "";

                        html_save += `
                            <button class="button-24" id="save_button" role="button"> 確定儲存</button>
                            <button class="button-24" id="leave_button" role="button"> 返回</button>
                        `
                        html_modify += `
                            <button class="button-25" id="modify_button" role="button" style="display:none"> 修改</button>
                        `

                        html_add += `
                            <button class="button-4" role="button" id="Add_type"> 新增類別</button>
                            <button class="button-4" role="button" id="Add_option"> 新增選項</button>
                        `


                        $('#btn_2').html(html_modify);
                        $('#btn_1').html(html_save);
                        $('#btn_3').html(html_add);

                    }
                     else {
                        alert(result.message + " : 沒東西！");
                    }
                },
                error: function (xhr, status, error) {
                    alert("發生錯誤：" + error);
                }
            });
        });
    </script>

    <!--確認儲存button-->
    <script>
        $(document).on('click', '#save_button', function () {


            let formData = $('#modify_type').serialize();
            
            // alert(formData);
            $.ajax({
                type: "POST",
                url: "/DonateType/Modify_type",
                data: formData,


                success: function (result) {
                    if (result.success) {
                        location.reload();
                        alert(result.message);

                    }
                     else {
                        alert(result.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("發生錯誤：" + error);
                }
            });
        });
    </script>

    <!--刪除button-->
    <script>
        $(document).on('click', '.delete_button', function () {


            $(this).closest('tr').css('display', 'none');

            let $tr = $(this).closest('tr');
            $tr.find('input[name*="Name_chinese"]').val('刪除'); // 把Name_chinese清空，藉此在controller判斷是要刪除的。(因為List<>格式不能斷了 donateTypes[${count}].Name_chinese )
            $tr.find('input[name*="Price"]').val('111');
        });
    </script>


    <!--返回button-->
    <script>
        $(document).on('click', '#leave_button', function () {

            location.reload();

        });
    </script>

    <!-- 同category下 所有donatetype更新 -->
    <script>
        $(document).on('change', '.category-select', function () {

            const value = $(this).val();

            // 找到 header row
            let headerRow = $(this).closest('tr');

            // 往下掃描所有 row，直到遇到下一個 header
            let next = headerRow.next();

            while (next.length) {

            // 如果遇到下一個 group header → 停止
            if (next.find('.category-select').length > 0) {
            break;
            }

            // 更新這個 group 的 hidden
            next.find('.category-hidden').val(value);

            next = next.next();
            }
        });
    </script>
    
</body>

