@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="~/css/ChangeHousehold/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ChangeHousehold/bootstrap.min.css.map" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ChangeHousehold/owl.carousel.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ChangeHousehold/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ChangeHousehold/Index.css" asp-append-version="true" />
}

@model List<ChangeHousehold>

<body>
    <div id="flex-query">
        <div>
            <form method="POST" id="search_household">
                <input type="text" class="cell-edit-input" maxlength="7" placeholder="輸入戶號" name="household_id">
                <button id="btn_search">
                    查詢
                </button>
            </form>
            
        </div>

        <div>
            <form method="POST" id="search_household_name">
                <input type="text" class="cell-edit-input" maxlength="7" placeholder="輸入姓名" name="name">
                <button id="btn_search_name">
                    查詢
                </button>
            </form>
        </div>
    </div>
    
    
    <div class="content">

        <div class="container">

            <button id="pre_house">上一戶</button>
            <button id="next_house">下一戶</button>

            <div class="table-responsive">

                <table class="table table-striped custom-table">
                    <thead>
                        <tr>
                            <th scope="col">戶長</th>
                            <th scope="col">信徒編號</th>
                            <th scope="col">姓名</th>
                            <th scope="col">年齡</th>
                        </tr>
                    </thead>
                    <tbody id="search_change">
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr scope="row">
                                    @if (item.Is_head)
                                    {
                                        <td>
                                            <input type="radio" name="mid_@item.House_ID" class="change_head" value="@item.MemberID" data-name="@item.Name" data-houseid="@item.House_ID" data-mid="@item.MemberID" checked>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <input type="radio" name="mid_@item.House_ID" class="change_head" value="@item.MemberID" data-name="@item.Name" data-houseid="@item.House_ID" data-mid="@item.MemberID">
                                        </td>
                                    }

                                    <td>
                                        <a href="">
                                            00@(item.House_ID) _ @item.Member_no
                                        </a>

                                    </td>
                                    <td class="pl-0">
                                        <div class="d-flex align-items-center">


                                            <div>@item.Name</div>
                                        </div>
                                    </td>
                                    <td>
                                        @item.Age
                                    </td>
                                </tr>
                            }
                        }
                        
                    </tbody>
                </table>
            </div>


        </div>

    </div>

    



    <script src="~/js/ChangeHousehold/bootstrap.min.js"></script>
    <script src="~/js/ChangeHousehold/jquery-3.3.1.min.js"></script>
    <script src="~/js/ChangeHousehold/main.js"></script>
    <script src="~/js/ChangeHousehold/owl.carousel.min.js"></script>
    <script src="~/js/ChangeHousehold/popper.min.js"></script>

    <!-- 查詢特定戶號  -->
    <script>
        $(document).ready(function (){
            $('#search_household').submit(function(e) {
                e.preventDefault(); // 防止 form 提交，讓畫面不跳頁



                // 序列化 form 內的資料
                var formData = $(this).serialize();

                $.ajax({
                    type: "POST",
                    url: "/ChangeHousehold/GetHousehold",
                    data: formData,

                    success: function (result) {
                        console.log("成功!");

                        if (result.success) {
                            // alert(`${JSON.stringify(result.info)} ${result.household_id} ！`);
                            // location.reload(); 配合controller傳Json，js刷新頁面

                            let html = "";

                            result.info.forEach(function (member) {

                            html += `
                                <tr scope="row">
                                    
                            
                                    <td>
                                            <input type="radio" name="mid_${member.house_ID}" class="change_head" value="${member.memberID}" data-name="${member.name}" data-houseid="${member.house_ID}" data-mid="${member.memberID}" ${member.is_head ? "checked" : ""}>
                                    </td>
                                    

                                    <td>
                                        <a href="">
                                            00${member.house_ID} _ ${member.member_no}
                                        </a>

                                    </td>
                                    <td class="pl-0">
                                        <div class="d-flex align-items-center">


                                            <div>${member.name}</div>
                                        </div>
                                    </td>
                                    <td>
                                        ${member.age}
                                    </td>
                                </tr>
                            `;

                            });

                            $('#search_change').html(html);



                        }else{
                            alert(`${result.message} : 失敗更新！`);
                        }

                    },
                    error: function (xhr, status, error) {
                        alert("發生錯誤：" + error);
                    }
                });
            });
        });
    </script>


    <!-- 上一戶 -->
    <script>
        $(document).on('click', '#pre_house', function () {


            let selected = $('input[name^="mid_"]:checked');
            let house_id = selected.data('houseid');

            $.ajax({
                type: "POST",
                url: "/ChangeHousehold/pre_house",
                data: {
                    house_id: house_id
                },


                success: function (result) {
                    if (result.success) {
                        // alert(result.message);
                        
                        let html = "";

                            result.info.forEach(function (member) {

                            html += `
                                <tr scope="row">


                                    <td>
                                            <input type="radio" name="mid_${member.house_ID}" class="change_head" value="${member.memberID}" data-name="${member.name}" data-houseid="${member.house_ID}" data-mid="${member.memberID}" ${member.is_head ? "checked" : ""}>
                                    </td>


                                    <td>
                                        <a href="">
                                            00${member.house_ID} _ ${member.member_no}
                                        </a>

                                    </td>
                                    <td class="pl-0">
                                        <div class="d-flex align-items-center">


                                            <div>${member.name}</div>
                                        </div>
                                    </td>
                                    <td>
                                        ${member.age}
                                    </td>
                                </tr>
                            `;

                            });

                            $('#search_change').html(html);


                    }
                     else {
                        // alert(result.message + " : 沒東西！");
                    }
                },
                error: function (xhr, status, error) {
                    alert("發生錯誤：" + error);
                }
            });
        });
    </script>

    <!-- 下一戶 -->
    <script>
        $(document).on('click', '#next_house', function () {


            let selected = $('input[name^="mid_"]:checked');
            let house_id = selected.data('houseid');

            $.ajax({
                type: "POST",
                url: "/ChangeHousehold/next_house",
                data: {
                    house_id: house_id
                },


                success: function (result) {
                    if (result.success) {
                        // alert(result.message);

                        let html = "";

                            result.info.forEach(function (member) {

                            html += `
                                <tr scope="row">


                                    <td>
                                            <input type="radio" name="mid_${member.house_ID}" class="change_head" value="${member.memberID}" data-name="${member.name}" data-houseid="${member.house_ID}" data-mid="${member.memberID}" ${member.is_head ? "checked" : ""}>
                                    </td>


                                    <td>
                                        <a href="">
                                            00${member.house_ID} _ ${member.member_no}
                                        </a>

                                    </td>
                                    <td class="pl-0">
                                        <div class="d-flex align-items-center">


                                            <div>${member.name}</div>
                                        </div>
                                    </td>
                                    <td>
                                        ${member.age}
                                    </td>
                                </tr>
                            `;

                            });

                            $('#search_change').html(html);


                    }
                     else {
                        // alert(result.message + " : 沒東西！");
                    }
                },
                error: function (xhr, status, error) {
                    alert("發生錯誤：" + error);
                }
            });
        });
    </script>

    <!-- 更換戶長 -->
    <script>
        $(document).on('change', '.change_head', function () {

            let mid = $(this).data('mid');
            let name = $(this).data('name');
            let houseid = $(this).data('houseid');

            $.ajax({
                type: "POST",
                url: "/ChangeHousehold/ChangeHousehold_head",
                data: "mid=" + encodeURIComponent(mid)
                    + "&name=" + encodeURIComponent(name)
                    + "&houseid=" + encodeURIComponent(houseid),

                success: function (result) {
                    if (result.success) {
                        alert(result.message);
                    } else {
                        alert(result.message + " : 失敗更新！");
                    }
                },
                error: function (xhr, status, error) {
                    alert("發生錯誤：" + error);
                }
            });
        });
    </script>

    <!-- 查詢包含姓名  -->
    <script>
        $(document).ready(function (){
            $('#search_household_name').submit(function(e) {
                e.preventDefault(); // 防止 form 提交，讓畫面不跳頁



                // 序列化 form 內的資料
                var formData = $(this).serialize();

                $.ajax({
                    type: "POST",
                    url: "/ChangeHousehold/search_name",
                    data: formData,

                    success: function (result) {
                        console.log("成功!");

                        if (result.success) {
                            // alert(`${JSON.stringify(result.info)} ${result.household_id} ！`);
                            // location.reload(); 配合controller傳Json，js刷新頁面

                            let html = "";

                            result.info.forEach(function (member_List) {
                                member_List.forEach(function (member) {
                                html += `
                                    <tr scope="row">


                                        <td>
                                                <input type="radio" name="mid_${member.house_ID}" class="change_head" value="${member.memberID}" data-name="${member.name}" data-houseid="${member.house_ID}" data-mid="${member.memberID}" ${member.is_head ? "checked" : ""}>
                                        </td>


                                        <td>
                                            <a href="">
                                                00${member.house_ID} _ ${member.member_no}
                                            </a>

                                        </td>
                                        <td class="pl-0">
                                            <div class="d-flex align-items-center">


                                                <div>${member.name}</div>
                                            </div>
                                        </td>
                                        <td>
                                            ${member.age}
                                        </td>
                                    </tr>
                                `;
                                });
                                html += ` <tr scope="row" class="no-stripe">


                                        <td>
                                                
                                        </td>


                                        <td>
                                            <a href="">

                                            </a>

                                        </td>
                                        <td class="pl-0">
                                            <div class="d-flex align-items-center">


 
                                            </div>
                                        </td>
                                        <td>
      
                                        </td>
                                    </tr>`
                            });

                            $('#search_change').html(html);



                        }else{
                            alert(`${result.message} ！`);
                        }

                    },
                    error: function (xhr, status, error) {
                        alert("發生錯誤：" + error);
                    }
                });
            });
        });
    </script>

</body>